<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GoGrabbers</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/anime.page.css" />
    <link rel="stylesheet" href="/css/anime/info.css" />
    <link rel="stylesheet" href="/css/anime/episode.css" />
    <script src="/js/nav.js" async></script>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%- include('./templates/nav.ejs') %>
<body>
    <div class="container">
        <div class="content">
            <div class="content-container">
                <div class="heading">
                    <div class="image">
                        <img src="<%= anime.image %>" alt="<%=  %>">
                    </div>
                    <div class="context">
                        <div class="title">
                            <h1><%= anime.title %></h1>
                        </div>
                        <div class="description">
                            <p><%= anime['description']['Plot Summary'].text %></p>
                        </div>
                    </div>
                </div>
                <div class="info-container">
                    <div class="info-tags">
                        <%- include('./templates/anime/info.ejs', {
                            title: "Watch",
                            link: `/anime/${anime.name}/episode/${anime.episodes[anime.episodes.length - 1].episodeId}`
                            }) 
                        %>
                        <%- include('./templates/anime/info.ejs', {
                            title: "Download Season",
                            link: `/anime/${anime.name}/download`
                            }) 
                        %>
                        <%- include('./templates/anime/info.ejs', {
                            title: "Episodes",
                            value: anime.episodes.length,
                            link: "#"
                            }) 
                        %>
                        <%- include('./templates/anime/info.ejs', {
                            title: "Released",
                            value: anime.description.Released.text,
                            link: "#"
                            }) 
                        %>
                    </div>
                </div>
                <div class="episodes">
                    <!-- for anime.episodes in episodes  include a file go backwards -->
                    <% for (let i = anime.episodes.length - 1; i >= 0; i--) { %>
                        <%- include('./templates/anime/episode.ejs', {
                            title: `Episode ${anime.episodes[i].episodeId}`,
                            link: `/anime/${anime.name}/episode/${anime.episodes[i].episodeId}`
                            }) 
                        %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>